.mypagebtn{
    width: 100%;
    text-align: center;

}
.icon{
    gap: 10%;
    margin-left: 10%;
    margin-right: 10%;
}
.plus{
    float: right;
    border: none;
    background-color: #93e2bb;
}

.row{
    display: flex
}
.footer{
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}