


.detail{
    
    width: 50%;
    text-align: center;
    margin: 0 auto;
    margin-top: 6%;
   
}
.buttondiv{
    width: 50%;
    
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 30%;
   

    border: 1px solid gray;
}
.menuadd{
    background-color: white;
    border: none;
}
.detailbutton{
    list-style: none;
    background-color: white;
    border: none;
    font-size: 2vmax;
    
    
    display: flex;
    outline: none;
}
.Info{
    width: 50%;
    
    margin: 0px auto;
}
.row{
    display: flex
}
.footer{
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}
.detail img{
    width: 200px;
    height: 200px;
    border-radius: 15rem;
    
}